body{
	/*background-image: url("../images/BACKGROUND/background_village.png");*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background: repeating-linear-gradient(125deg, rgba(40,40,40,0.5) 1%, rgba(100,100,100,0.5) 2%, rgba(40,40,40,0.5) 4%);
}
a{
	text-decoration: none;
	color: midnightblue;
}
a:visited{
	text-decoration: none;
}
#superDiv{
	position: absolute;
	width: 99%;
	height: 99%;
	z-index: 500;
}

#bande_milieu{
	background-color: #E7E7E7;
	width: 1225px;
	height: auto;
	margin: auto;
	margin-top: 15px;
	padding-bottom: 30px;
	border-radius: 5px;
}

#menu_accueil{
	/*background-image: url("../images/HEADER/3_bandes.png");
	background-repeat: no-repeat;
	background-size: cover;*/
	width: 100%;
	height: 163px;
	margin-bottom: 50px;
	margin-left: 1px;
}
#logo_accueil{
	display: inline-block;
	float: top-left;
	position: absolute;
	border-radius: 5px;
	border-bottom-right-radius: 157px;
	cursor: pointer;
	z-index: 502;
	left: -1px;
}

#picto_pays{
	z-index: 501;
	display: inline-block;
	float: right;
	margin: 15px 30px 0px 0px;
}

#picto_panier{
	z-index: 501;
	display: inline-block;
	margin: 10px 5px 5px 590px;
}

.menu{
	display: inline-block;
	position: absolute;
	width: 1225px;
	height: 55px;
	padding-left: 325px;
}
#menu_un{
}
#menu_deux{
	margin-top: 56px;
	background-color: #8F8F8F;
}
#menu_trois{
	margin-top: 111px;
	z-index: 501;
	background-color: #303030;
}

.btn_menu{
	display: inline-block;
	padding: 5px 5px 5px 5px;
	text-align: center;
	position: absolute;
	font-size: 20px;
	color: midnightblue;
	z-index: 501;
}
#infoClient{
	font-size: 18px;
	margin: 10px 5px 5px 30px;
}
#menu_info{
	margin: 7px 5px 5px 350px;
}
#menu_client, #btnDeco{
	margin: 7px 5px 5px 420px;
}
#menu_client:hover, .menu a:hover, #btnDeco:hover{
	color: orange;
	cursor: pointer;
}

#picto_panier:hover, #picto_pays:hover{
	opacity: 0.6;
	cursor: pointer;
}

.menu_deux_item{
	color: white;
	font-size: 28px;
	display: inline-block;
	margin: 7px 0px 4px 80px;
	font-weight: bold;
	z-index: 501;
}
.menu_deux_item:hover{
	opacity: 0.6;
	cursor: pointer;
}

.menu_trois_item{
	color: white;
	font-size: 22px;
	display: inline-block;
	margin: 9px 0px 4px 15px;
	z-index: 700;
}
.menu_trois_item:hover{
	color: orange;
	cursor: pointer;
	z-index: 700;
}
#petit_triangle{
	position: absolute;
	left: 252px;
	top: -8px;
	width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F0F0F0;
}
#modal_client{
	background-color: #F0F0F0;
	position: absolute;
	border-radius: 10px;
	width: 515px;
	height: 280px;
	padding: 0px 10px 10px 10px;
	margin-top: -163px ;
	margin-left: 550px;
	z-index: 501;
}

#modal_client a{
	font-size: 13px;
}

#modal_client a:active{
	opacity: 0.6;
}

.petit_client{
	display: inline-block;
	position: absolute;
	width: 250px;
}
#client_gauche{
	
	padding: 25px 10px 5px 10px;
}

#log_in{
	background-image: url("../images/MODAL/MODAL_espace_client_bouton_connect.png");
	width: 221px;
	height: 33px;
	border-radius: 5px;
	border: none;
	margin-top: 10px;

}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #e65100  ;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #e65100  ;
}

#email, #password{
	background-color: #bdbdbd;
	border-radius: 8px;
	height: 30px;
}
#modal_client input[type=text]:focus, #modal_client input[type=password]:focus{
    border-bottom: 1px solid #e65100 ;
    box-shadow: 0 1px 0 0 #e65100 ;
}
#modal_client input::-webkit-input-placeholder {
    color:white;
    padding-left: 5px;
}


#separateur{
	display: inline-block;
	border: 1px solid #e65100;
	height: 220px;
	margin: 35px 0px 40px 250px;
}

#client_droit{
	margin: 26px 10px 5px 0px;
	padding-left: 8px;
	padding-right: 6px;

}

#pasClientTitre{
	display: inline-block;
	margin-bottom: 10px;
}

#pasClientText{
	opacity: 0.7;
	font-size: 13px;
}

#newClient{
	display: inline-block;
	background-image: url('../images/MODAL/MODAL_espace_client_bouton_inscrire.png');
	width: 221px;
	height: 33px;
	border-radius: 5px;
	border: none;
	margin-top: 14px;
	margin-bottom: 0px;
}

#lienPlusDinfo{
	display: inline-block;
	position: absolute;
	margin: 54px 10px 0px -165px;
}


.modal-cat{
	background-color: #F0F0F0;
	width: 194px;
	height: 276px;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	position: absolute;
	margin-top: -50px;
	z-index: 503;
}

.cat_triangle{
	position: absolute;
	left: 85px;
	top: -8px;
	width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F0F0F0;
}

.liste a{
	display: block;
	width: 99%;
	color: black;
	padding-left: 5px;
	margin: 5px 5px 2px 5px;
	font-size: 14px;
	border-radius: 5px;
}

.liste a:hover{
	color: orange;
	background-color: white;
}

#guitare{
	margin-left: 285px;
}

#batterie{
	margin-left: 405px;
}

#clavier{
	margin-left: 500px;
}

#studio{
	margin-left: 585px;
}

#sono{
	margin-left: 660px;
}

#eclairage{
	margin-left: 750px;
}
#dj{
	margin-left: 825px;
}

#cases{
	margin-left: 890px;
}

#accessoires{
	margin-left: 1000px;
}

#ajaxContent{
	padding: 15px 0px 0px 0px;
	width: 99%;
}