<!DOCTYPE html>
<html>
<head>
	<title>VillageGreen</title>
	<script src="js/jquery-min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<script src="js/materialize.min.js"></script>
	<script src="js/scriptHeader.js"></script>
	<script src="js/scriptFooter.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styleHeader.css">
	<link rel="stylesheet" type="text/css" href="css/styleFooter.css">
</head>
<body>
<div id="superDiv"></div>
	<div id="bande_milieu">
		<div id="menu_accueil">
			<img id="logo_accueil" src="images/HEADER/logo_village_green.png" />
			<div class="menu" id="menu_un">
				<div id="menu_info" class="btn_menu"><a href="#"><b>Infos</b></a></div>
				<div id="menu_client" class="btn_menu"><b>Espace Client</b></div>
				<img id="picto_panier" src="images/HEADER/picto_panier.png">
				<img id="picto_pays" src="images/HEADER/picto_pays.png">
			</div>
			<div class="menu" id="menu_deux">
				<span class="menu_deux_item">Produits</span>
				<span class="menu_deux_item">Service</span>
				<span class="menu_deux_item">Aide</span>
				<span class="menu_deux_item">A propos</span>		
			</div>
			<div class="menu" id="menu_trois">
				<span class="menu_trois_item" data-id="guitare">Guit/Bass</span>
				<span class="menu_trois_item" data-id="batterie">Batteries</span>
				<span class="menu_trois_item" data-id="clavier">Clavier</span>
				<span class="menu_trois_item" data-id="studio">Studio</span>
				<span class="menu_trois_item" data-id="sono">Sono</span>
				<span class="menu_trois_item" data-id="eclairage">Eclairage</span>
				<span class="menu_trois_item" data-id="dj">DJ</span>
				<span class="menu_trois_item" data-id="cases">Cases</span>
				<span class="menu_trois_item" data-id="accessoires">Accessoires</span>
			</div>
		</div>

		<div id="modal_client" hidden="hidden">
			<div id="client_gauche" class="petit_client">
				<span><b>Etes-vous déjà client chez nous ?</b></span>
				<form>
				</br>
					<input id="email" type="email" class="validate" placeholder="Adresse E-mail" autofocus>
					<input id="password" type="password" class="validate" placeholder="Mot de passe">
					<div class="switch">
			    		<label>
				    		<input type="checkbox" value="oui">
				    		<span class="lever"></span>
			    		</label>Rester connecté
					</div>
					<button class="transparent waves-effect waves-light" id="log_in"></button>
				</form>
					<a href="#"><b>Vous avez oublié votre mot de passe ?</b></a>
			</div>
			<div id="separateur"></div>
			<div id="client_droit" class="petit_client">
				<span id="pasClientTitre"><b>N'êtes-vous pas encore client ?</b></span>
				<span id="pasClientText"><br>En tant que client Village Green vous pouvez suivre vos envoies, les des tests produits exclusifs,
				évaluer des produits, déposer des petites annonces, gérer vos chèques-cadeaux, devenir partenaire et
				bien plus encore.</span>
				<a class="transparent waves-effect waves-light" id="newClient" href="#"></a>
				<a id="lienPlusDinfo" href="#"><b>Plus d'informations</b></a>
			</div>
		</div>

		<div class="modal-cat" id="guitare" hidden="hidden">
			<ul class="liste">
				<li class="detailMenuCat"><a href="#">Guitares Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Classiques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Acoustiques & Electro-Acoustique</a></li>
				<li class="detailMenuCat"><a href="#">Basses Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Semi-Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Ukulélés</a></li>
				<li class="detailMenuCat"><a href="#">Autres instruments à cordes pincées</a></li>
			</ul>
		</div>

		<div class="modal-cat" id="batterie" hidden="hidden">
			<ul class="liste">
				<li class="detailMenuCat"><a href="#">Guitares Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Classiques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Acoustiques & Electro-Acoustique</a></li>
				<li class="detailMenuCat"><a href="#">Basses Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Semi-Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Ukulélés</a></li>
				<li class="detailMenuCat"><a href="#">Autres instruments à cordes pincées</a></li>
			</ul>
		</div>

		<div class="modal-cat" id="clavier" hidden="hidden">
			<ul class="liste">
				<li class="detailMenuCat"><a href="#">Guitares Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Classiques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Acoustiques & Electro-Acoustique</a></li>
				<li class="detailMenuCat"><a href="#">Basses Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Semi-Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Ukulélés</a></li>
				<li class="detailMenuCat"><a href="#">Autres instruments à cordes pincées</a></li>
			</ul>
		</div>

		<div class="modal-cat" id="studio" hidden="hidden">
			<ul class="liste">
				<li class="detailMenuCat"><a href="#">Guitares Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Classiques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Acoustiques & Electro-Acoustique</a></li>
				<li class="detailMenuCat"><a href="#">Basses Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Semi-Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Ukulélés</a></li>
				<li class="detailMenuCat"><a href="#">Autres instruments à cordes pincées</a></li>
			</ul>
		</div>

		<div class="modal-cat" id="sono" hidden="hidden">
			<ul class="liste">
				<li class="detailMenuCat"><a href="#">Guitares Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Classiques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Acoustiques & Electro-Acoustique</a></li>
				<li class="detailMenuCat"><a href="#">Basses Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Semi-Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Ukulélés</a></li>
				<li class="detailMenuCat"><a href="#">Autres instruments à cordes pincées</a></li>
			</ul>
		</div>

		<div class="modal-cat" id="eclairage" hidden="hidden">
			<ul class="liste">
				<li class="detailMenuCat"><a href="#">Guitares Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Classiques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Acoustiques & Electro-Acoustique</a></li>
				<li class="detailMenuCat"><a href="#">Basses Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Semi-Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Ukulélés</a></li>
				<li class="detailMenuCat"><a href="#">Autres instruments à cordes pincées</a></li>
			</ul>
		</div>

		<div class="modal-cat" id="dj" hidden="hidden">
			<ul class="liste">
				<li class="detailMenuCat"><a href="#">Guitares Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Classiques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Acoustiques & Electro-Acoustique</a></li>
				<li class="detailMenuCat"><a href="#">Basses Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Semi-Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Ukulélés</a></li>
				<li class="detailMenuCat"><a href="#">Autres instruments à cordes pincées</a></li>
			</ul>
		</div>

		<div class="modal-cat" id="cases" hidden="hidden">
			<ul class="liste">
				<li class="detailMenuCat"><a href="#">Guitares Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Classiques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Acoustiques & Electro-Acoustique</a></li>
				<li class="detailMenuCat"><a href="#">Basses Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Semi-Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Ukulélés</a></li>
				<li class="detailMenuCat"><a href="#">Autres instruments à cordes pincées</a></li>
			</ul>
		</div>

		<div class="modal-cat" id="accessoires"  hidden="hidden">
			<ul class="liste">
				<li class="detailMenuCat"><a href="#">Guitares Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Classiques</a></li>
				<li class="detailMenuCat"><a href="#">Guitares Acoustiques & Electro-Acoustique</a></li>
				<li class="detailMenuCat"><a href="#">Basses Electriques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Basses Semi-Acoustiques</a></li>
				<li class="detailMenuCat"><a href="#">Ukulélés</a></li>
				<li class="detailMenuCat"><a href="#">Autres instruments à cordes pincées</a></li>
			</ul>
		</div>

		<div id="ajaxContent">
			
		</div>


	</div><!-- fin de la div  bande_milieu-->

	<div id="piedPage">
		<div id="newslettermail">
			<div class="white-text"><b>Recevez <span class="couleurTxtOrange">nos offres exclusives</span></b></div>
			<form class="input-field" id="newsletter">
				<input id="newsemail" type="email" name="newsmail" placeholder="Votre adresse e-mail">
			</form>
			<button class="waves-effect waves-light" id="newsletterValider">Valider</button>
		</div>

		<div id="lienContact">
			<b class="white-text"><span class="couleurTxtOrange">Suivez-nous</span> par ici !</b>
			<br />
			<a id="lien_fb" href="https://www.facebook.com/"></a>
			<a id="lien_tw" href="https://twitter.com/?lang=fr"></a>
		</div>
	</div>
</body>
</html>	