#piedPage{
	background-repeat: no-repeat;
	width: 1205px;
	height: 766px;
	margin: auto;
	padding: 20px 5px 0px 35px;
	/*background-image: url('../images/FOOTER/footer SIMPLE.png')*/
}
#newsletterValider, #newsemail{
	margin: auto;
}
.couleurTxtOrange{
	color: #e65100;
	opacity: 0.8;
}
#newslettermail div{
	font-size: 20px;
	margin-bottom: 0px;
}
#newsletter{
	margin-top: 3px;
	display: inline-block;
}
#newslettermail{
	display: inline-block;
	width: 471px;
	border: 1px dashed yellow;
	margin-top: auto;
}
#newsletterValider{
	display: inline-block;
	border-radius: 5px;
	border-style: none;
	background: linear-gradient(180deg, rgb(163, 83, 0), rgb(172, 44, 9));
	height: 35px;
	width: 91px;
	color: white;
	font-weight: bold;
	margin-left: 3px;
}

#newsemail{
	background-color: white;
	border-radius: 8px;
	height: 35px;
	width: 300px;
}
#newsemail::-webkit-input-placeholder {
    color: #bdbdbd;
    padding-left: 5px;
    font-style: italic;
}

#toast-container {
  top: 5%;
  right: auto !important;
  bottom: auto !important;
  left:40%;  
}

#lienContact{
	font-size: 20px;
	display: inline-block;
	border: 1px dashed yellow;
	margin-top: auto;
}

#lien_fb{
	display: inline-block;
	background-image: url('../images/FOOTER/picto facebook.png');
	width: 27px;
	height: 27px;
	margin-left: 50px;
}

#lien_tw{
	display: inline-block;
	background-image: url('../images/FOOTER/picto twitter.png');
	width: 40px;
	height: 28px;
	margin-left: 26px;
}