<div id="accueil">
	<img id="infoHot" src="../images/BODY/pub guitare.png" alt="Informations"/>
	<a class="btn waves-effect waves-light fadeHover" id="plusDinfo" href="">CLIQUEZ ICI POUR EN SAVOIR PLUS</a>
	<img id="infoLivraison" src="../images/BODY/banniere droite prix.png" alt="Information de livraison"/>
	<img id="bandeInfo" src="../images/BODY/banniere centre 4 pictos.png" alt="Garantie Village Green"/>
	<h2 id="titreCategorie"><b>Nos catégories</b></h2><br/>
	<div id="divCat" class="row">		
			<div id="firstCol" class="col s3 divCol">
				<a id="guitareCat" class="hvr-curl-top-right" href="#"></a>
				<a id="sonoCat" class="hvr-curl-top-right" href="#"></a>
			</div>
			<div class="col s3 divCol">
				<a id="batterieCat" class="hvr-curl-top-right" href="#"></a>
				<a id="casesCat" class="hvr-curl-top-right" href="#"></a>
			</div>
			<div class="col s3 divCol">
				<a id="pianoCat" class="hvr-curl-top-right" href="#"></a>
				<a id="cableCat" class="hvr-curl-top-right" href="#"></a>
			</div>
			<div class="col s3 divCol">
				<a id="microCat" class="hvr-curl-top-right" href="#"></a>
				<a id="saxoCat" class="hvr-curl-top-right" href="#"></a>
			</div>
	</div>
	<div id="topVente">
		<div class="ventDiv">
			<h2><b>Nos meilleurs ventes</b></h2><br/>
			<div class="bestSell hvr-bounce-to-right-guitare" id="bestGuitare"></div>
			<div class="bestSell hvr-bounce-to-right-saxo" id="bestSaxo"></div>
			<div class="bestSell hvr-bounce-to-right-piano" id="bestPiano"></div>
		</div>
		<div class="ventDiv">
			<h2><b>Nos partenaires</b></h2><br/>
			<div id="partenaires">
				<div id="roland" class="divPartenaireHover hvr-shutter-in-vertical" ng-click="redirect('http://fr.rolandce.com/')"></div>
				<div id="sennheiser" class="divPartenaireHover hvr-shutter-in-vertical" ng-click="redirect('https://fr-fr.sennheiser.com/')"></div>
				<div id="yamaha" class="divPartenaireHover hvr-shutter-in-vertical" ng-click="redirect('http://fr.yamaha.com/')"></div>
				<div id="behringer" class="divPartenaireHover hvr-shutter-in-vertical" ng-click="redirect('https://www.music-group.com/brand/behringer/home')"></div>
			</div>
		</div>
	</div>
	
</div>
