<div id="nouveauClient">
<div id="formulaireNouveauClient">
	<h3>Créez vos identifiants</h3>
	<form id="formulaireInscriptionClient">
		<div id="identifiantMail">
		    <div class="input-field tailleInput">
		      	<input id="mail" type="email" class="validate">
		      	<label for="mail">E-mail</label>
		    </div>
		    <div class="input-field tailleInput" id="gauchePwd">
		      <input id="pwdUn" type="password" class="validate">
		      <label for="pwdUn">Créez votre mot de passe</label>
		    </div>
		    <div class="input-field tailleInput" id="droitePwd">
		      <input id="pwdDeux" type="password" class="validate">
		      <label for="pwdDeux">Confirmation du mot de passe</label>
		    </div>
	    </div>
	    <h3>Indiquez vos coordonées</h3>
	    <div id="adresseClient">
		    <div class="input-field tailleInput">
		      <input id="prenom" type="text" class="validate">
		      <label for="prenom">Prénom</label>
		    </div>
		    <div class="input-field tailleInput">
		      <input id="nom" type="text" class="validate">
		      <label for="nom">Nom</label>
		    </div>
		    <div class="input-field tailleInput">
		      <input id="adresse" type="text" class="validate">
		      <label for="adresse">Adresse</label>
		    </div>
		    <div class="input-field tailleInput">
		      <input id="complementAdresse" type="text" class="validate">
		      <label for="complementAdresse">Complément d'adresse</label>
		    </div>
		    <div class="input-field tailleInput">
		      <input id="codePostal" type="text" class="validate">
		      <label for="codePostal">Code Postal</label>
		    </div>
		    <div class="input-field tailleInput">
		      <input id="ville" type="text" class="validate">
		      <label for="ville">Ville</label>
		    </div>
		    <div class="input-field tailleInput">
		      <input id="pays" type="text" class="validate">
		      <label for="pays">Pays</label>
		    </div>
		</div>
	    <div id="divTelephone">
	    	<h4>Vos numéros de téléphone</h4>
	    	<div class="input-field">
		      <input id="portable" type="text" class="validate">
		      <label for="portable">Numéro de Portable</label>
		    </div>
		    <div class="input-field">
		      <input id="fixe" type="text" class="validate">
		      <label for="fixe">Numéro de téléphone fixe</label>
		    </div>
		    <div id="imgTelephone"></div>
		    <div id="commandeSMS">Suivez vos commandes par SMS</div>
	    </div>
    </form>
    <button id="validerInscription" class="waves-effect waves-light">Valider</button>
</div>
	<div id="pictoBasPage">
		<div id="roland" class="divPartenaireInscription hvr-shutter-in-vertical"></div>
		<div id="sennheiser" class="divPartenaireInscription hvr-shutter-in-vertical"></div>
		<div id="yamaha" class="divPartenaireInscription hvr-shutter-in-vertical"></div>
		<div id="behringer" class="divPartenaireInscription hvr-shutter-in-vertical"></div>
	</div>
</div>